[Desktop Entry]
Name=ifinmail
Comment=Secure, API-first email client
Exec=ifinmail-desktop %U
Icon=ifinmail
Terminal=false
Type=Application
Categories=Network;Email;
StartupNotify=true
MimeType=x-scheme-handler/mailto;
